.runtime-terminal {
  position: absolute ;
  left: 0 ;
  right: 0 ;
  bottom: 0 ;
  height: 100px ;
  border-left: solid 2px rgba(0,0,0,.5);
  z-index: 2 ;
  overflow: hidden ;
}
#terminal {
  position: absolute ;
  left: 0 ;
  right: 0 ;
  bottom: 0 ;
  top: 0 ;
  overflow: hidden ;
}

#terminal-debug-container {
  position: absolute ;
  left: 0 ;
  right: 0 ;
  bottom: 0 ;
  top: 2px ;
  overflow: hidden ;
}


#terminal-toolbar {
  position: absolute ;
  top: 0px ;
  left: 0 ;
  right: 0 ;
  height: 40px ;
  background: #1A1F34;
  overflow: hidden ;
  white-space: nowrap;
}
#terminal-toolbar span {
  margin-left: 20px ;
}
#terminal-toolbar * {
  display: inline-block ;
}
#terminal-toolbar .buttons {
  display: inline-block ;
  margin-left: 60px ;
}
#terminal-toolbar .buttons div {
  margin-left: 1px ;
  padding: 10px 15px ;
  cursor: pointer ;
  background: #4ADE80;
}
#terminal-toolbar .buttons div:hover  {
  background: #5FE59F;
}

#terminal-toolbar .buttons div:active  {
  background: #34AD54;
}
#terminal-toolbar .buttons .selected,
#terminal-toolbar .buttons div.selected:hover
{
  background: #3D9B48;
  cursor: default ;
}
#open-timemachine-button {
  position: absolute;
  right: 50px;
  top: -9px;
  bottom: 9px;
  padding: 16px 8px 8px 8px;
  background: #60A5FA;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 3px #000;
}

#open-debugger-button {
  position: absolute;
  right: -8px;
  top: 4px;
  bottom: 5px;
  padding: 7px 16px 7px 11px;
  background: #C6BEFF;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 3px #000;
}


#console-options {
  background: #0F1219;
  display: block ;
  line-height: 25px ;
  white-space: nowrap;
  color: #DBEBF0;
  position: absolute ;
  top: 42px ;
  left: 0 ;
  right: 2px ;
  height: 0px ;
  transition-property: height ;
  transition-duration: 0.5s ;
  overflow: hidden ;
}

#console-options > div {
  padding: 20px ;
}



#console-options label {
  margin-left: 5px ;
}



#terminal-view {
  position: absolute ;
  top: 40px ;
  left: 0 ;
  right: 0 ;
  bottom: 40px ;
  background: #050809 ;
  font-family: "Ubuntu Mono";
  font-size: 16px;
  overflow: auto ;
/*  box-shadow: 0 0 200px 0 rgba(0,0,0,1) inset;*/
}

#terminal-input-line {
  position: absolute ;
  bottom: 0 ;
  left: 0 ;
  right: 0 ;
  height: 40px ;
  background: #0F1219;
}
#terminal-input-gt {
  position: absolute ;
  left: 0 ;
  width: 10px ;
  top: 0 ;
  bottom: 0 ;
  font-family: "Ubuntu Mono";
  font-size: 20px;
  color: #978EF9;
  padding: 11px 10px ;
}
#terminal-input-container {
  position: absolute ;
  bottom: 0 ;
  left: 30px ;
  right: 0 ;
  height: 40px ;
  border: none ;
  background: #0F1219;
}
#terminal-input {
  position: absolute ;
  bottom: 0 ;
  left: 0 ;
  right: 0 ;
  top: 0 ;
  bottom: 0 ;
  height: 40px ;
  border: none ;
  width: 100% ;
  background: #0F1219;
  font-family: "Ubuntu Mono";
  font-size: 16px;
  color: #978EF9;
  outline: none ;
  padding: 0 0 0 0 ;
}
#terminal-lines {
  padding: 5px ;
  font-family: "Ubuntu Mono";
  font-size: 16px;
  color: #B5C8D1;
  user-select: text ;
}
#terminal-lines div div {
  padding: 0 4px 0 18px ;
  white-space: pre-wrap ;
  line-height: 22px ;
}
#terminal-lines div div.error {
  color: #F87171;
}
#terminal-lines div div.input {
  background: rgba(219,235,240,.05) ;
  border-radius: 3px ;
  padding: 0 4px ;
}
#terminal-lines div div.input i {
  opacity: .25 ;
}
.fa-ellipsis-v {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
